{{!-- Main --}}
<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="d-none d-lg-block col-lg-1 col-xl-1"></div>
    <div class="col-12 col-lg-10 col-xl-10">
      <div class="row">
        {{!-- Bar Chart --}}
        <div class="col-12 my-4">
          <div class="content bg-light shadow rounded">
            <h3 class="text-center">Portfolio Performance</h3>
            <div id="bar-chart-container">
              <canvas id="barChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        {{!-- Doughnut Graph --}}
        <div class="col-12 col-lg-4 mb-4">
          <div class="content bg-light shadow rounded">
            <h3 class="text-center">Asset Allocation</h3>
            <div id="doughnut-chart-container" class="pb-3">
              <canvas id="doughnutChart"></canvas>
            </div>
          </div>
        </div>
        {{!-- Activity Table --}}
        <div class="col-12 col-lg-8 mb-4">
          <div class="content bg-light shadow rounded overflow-auto">

            <h3 class="text-center">Activity Log</h3>
            <table id="activityTable" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Transaction</th>
                  <th scope="col">Name</th>
                  <th scope="col">Category</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">03/02/2019</th>
                  <td>Purchase</td>
                  <td>Google</td>
                  <td>Stock</td>
                  <td>$10.00</td>
                  <td>42</td>
                </tr>
                <tr>
                  <th scope="row">02/20/2019</th>
                  <td>Sale</td>
                  <td>Bitcoin</td>
                  <td>Crypto</td>
                  <td>$22.50</td>
                  <td>10</td>
                </tr>
                <tr>
                  <th scope="row">01/01/2018</th>
                  <td>Sale</td>
                  <td>Condo</td>
                  <td>Real Estate</td>
                  <td>$68,000</td>
                  <td>1</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-lg-block col-lg-1 col-xl-1"></div>
  </div>
</div>

{{!-- <h1>Heading 1 Text</h1>

<h2>Heading 2 Text</h2>

<ul>
  {{#each crypto}}
  {{/each}}
</ul>

<ul>
  {{#each stocks}}
  {{/each}}
</ul>

<ul>
  {{#each real_estate}}
  {{/each}}
</ul> --}}






{{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div> --}}

{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script> --}}