{{!-- Main --}}
<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="d-none d-lg-block col-lg-1 col-xl-1"></div>
    <div class="col-12 col-lg-10 col-xl-10">
      <div class="row">
        {{!-- Line Chart --}}
        <div class="col-12 my-4">
          <div class="content bg-light shadow rounded">
            <h3 class="text-center">Stocks Performance</h3>
            <div id="bar-chart-container">
              <canvas id="barChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        {{!-- Purchase / Sell --}}
        <div class="col-12 col-lg-4 mb-4">
          <div class="content bg-light shadow rounded">
            <h3 class="text-center">Purchase / Sell</h3>
            <div id="doughnut-chart-container" class="pb-3">
              <canvas id="doughnutChart"></canvas>
            </div>
          </div>
        </div>
        {{!-- Activity Table --}}
        <div class="col-12 col-lg-8 mb-4">
          <div class="content bg-light shadow rounded overflow-auto">
            <h3 class="text-center">Activity Log</h3>
            <table id="activityTable" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Transaction</th>
                  <th scope="col">Name</th>
                  <th scope="col">Category</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">03/02/2019</th>
                  <td>Purchase</td>
                  <td>Google</td>
                  <td>Stock</td>
                  <td>$10.00</td>
                  <td>42</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-lg-block col-lg-1 col-xl-1"></div>
  </div>
</div>