body, html {
  height: 100%;
  background-color: #E2E3E9;
}
.navbar {
  background-color: #80D199;
}
.navbar-brand {
  font-family: 'Play', sans-serif;
}
.nav-link {
  background-color: #E18102;
}
i {
  color: #D2A36A;
}
.color-scheme {
  color: #2CB355;
  color: #A0A4B6;
  color: #CF954D;
}
