body, html {
  height: 100%;
  background-color: #B2B6C6;
}
.navbar {
  background-color: #2CB355;
}
.navbar-brand {
  font-family: 'Play', sans-serif;
}
.nav-link {
  background-color: #E18102;
}
i {
  color: #D2A36A;
}
.color-scheme {
  color: #CF9551;
}
